* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 200px;
  padding: 0px 20px 0px 20px; 
}

main img {
  display: block;
  width: 100%;
}

header {
  height: 120px;
}

header img {
  height: 80%;
  width: auto;
}

aside {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 200px;
  border-right: 1px solid #00aff0;
  padding-right: 20px;
  padding-left: 20px;
}

aside > img {
  height: 120px;
  display: block;
  margin: 0 auto;
}

aside li  {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
  border-bottom: 1px solid #00aff0;
  padding-bottom: 10px;
  width: 80%;
  line-height: 2;
}

li a {
  font-weight: bold;
  color:#00aff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  border: mediumseagreen;
}

section div {
  display: inline-block;
  width: 33%;
  padding: 20px 20px 0px 0px;
}

section h2 {
  color: mediumseagreen;
}

div#what-we-do, div#our-work {
  border-right: 1px solid mediumseagreen;
  height: auto;
}

div#our-work, div#contact-us {
  padding-left: 20px;
}


h2 i {
  margin-right: 10px;
}
